/*-----------------------------------*\
  #style.css
\*-----------------------------------*/


/**
 * copyright 2022 @codewithsadee
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
    /**
   * colors
   */
    /* gradient */

    --bg-gradient-onyx: linear-gradient( to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97% );
    --bg-gradient-jet: linear-gradient( to bottom left, hsla(160, 100%, 30%, 1) 0%, hsla(200 100%, 30%, 1) 60%, hsl(290, 100%, 40%) 100%);
    --bg-gradient-yellow-1: linear-gradient( to bottom right, hsl(45, 100%, 71%) 0%, hsla(36, 100%, 69%, 0) 50% );
    --bg-gradient-yellow-2: linear-gradient( 135deg, hsla(45, 100%, 71%, 0.251) 0%, hsla(35, 100%, 68%, 0) 59.86% ), hsl(240, 2%, 13%);
    --border-gradient-onyx: linear-gradient( to bottom right, hsla(50, 100%, 50%, 1) 0%, hsla(50, 100%, 15%, 1) 100% );
    --text-gradient-yellow: linear-gradient( to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%) );
    /* solid */

    --jet: hsl(0, 0%, 22%);
    --onyx: hsl(240, 1%, 17%);
    --eerie-black-1: hsl(240, 2%, 13%);
    --eerie-black-2: hsl(240, 8%, 20%);
    --smoky-black: hsl(0, 0%, 7%);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 0%, 98%);
    --orange-yellow-crayola: rgb(255,220,0);
    --vegas-gold: hsl(45, 54%, 58%);
    --light-gray: hsl(0, 0%, 90%);
    --light-gray-70: hsla(0, 0%, 90%, 0.7);
    --bittersweet-shimmer: hsl(0, 43%, 51%);
    /**
   * typography
   */
    /* font-family */
    --ff-poppins: 'Poppins', sans-serif;
    /* font-size */
    --fs-1: 16px;
    --fs-2: 14px;
    --fs-3: 14px;
    --fs-4: 13px;
    --fs-5: 12px;
    --fs-6: 11px;
    --fs-7: 11px;
    --fs-8: 10px;
    /* font-weight */
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    /**
   * shadow
   */

    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
    --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
    --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
    /**
   * transition
   */

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease-in-out;
    --transition-3: visibility 0s 0.25s;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a { text-decoration: none; }

li { list-style: none; }

img, ion-icon, a, button, time, span { display: block; }

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

input, textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}

::selection {
  background: var(--orange-yellow-crayola);
  color: var(--smoky-black);
}

:focus { outline-color: var(--orange-yellow-crayola); }

html { font-family: var(--ff-poppins); }

body { background: var(--smoky-black); }

.clients-list {
    height: 140px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: 15px;
    border: 2px solid rgb(0,0,0);
}

.modal-img-list {
    height: 220px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: 5px;
    border: 2px solid rgb(0,0,0);
}

.modal-item {
    border: 2px solid rgb(0,0,0);
    align-self: start;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.modal-item img {
    max-height: 200px;
}

.modal-item video {
    width:auto;
    height:200px;
}

.modal-item source {
    height: 100%;
}

.clients-item {
    border: 2px solid rgb(0,0,0);
    align-self: start;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.clients-item img {
    max-height: 120px;
}

.clients-item video {
    width:auto;
    height:120px;
}

.clients-item source {
    height: 100%;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.sidebar,
article {
  background: var(--eerie-black-2);
  border: 1px solid var(--jet);
  border-radius: 10px;
  box-shadow: var(--shadow-1);
  z-index: 1;
  max-height:max-content;
}

article {
    display: none;
    padding: 5px 10px;
}

article.active {
  display: block;
  animation: fade 0.5s ease backwards;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.h2,
.h3,
.h4,
.h5 {
  color: var(--white-2);
  text-transform: capitalize;
}

.h2 { font-size: var(--fs-1); }

.h3 { font-size: var(--fs-2); }

.h4 { font-size: var(--fs-4); }

.h5 {
  font-size: var(--fs-8);
  font-weight: var(--fw-600);
}

.article-title {
    position: relative;
    font-size: 16px;
    color: rgb(255,100,0);
}

.has-scrollbar::-webkit-scrollbar {
  width: 0px; /* for vertical scrollbar */
  height: 20px; /* for horizontal scrollbar */
}

.has-scrollbar::-webkit-scrollbar-track {
  background: rgb(80,80,80);
  border: 1px solid rgb(0,0,0);
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(200,200,200);
  border: 1px solid rgb(0,0,0);
  min-width: 120px;
}

.has-scrollbar::-webkit-scrollbar-button {
  width: 0px;
}

/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

main {
  margin-bottom: 10px;
  margin-top: 35px;
  min-width: 259px;

}

/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/

.sidebar {
  margin-bottom: 3px;
  overflow: hidden;
  text-wrap:normal;
  transition: var(--transition-1);
  animation: fade 0.5s ease backwards;
  display: flex;
  padding: 2px;
  flex-direction: row;
}

.sidebar-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
}

.info-avatar img{
  border-radius: 10px;
  width: 90px;
  margin-top: 0px;
  margin-left:5px;
  border: 3px solid rgb(255,100,0);
}

.info-content {
  padding: 0px 0px 5px 5px; 
}

.info-content .name {
  color: var(--white-2);
  font-weight: var(--fw-600);
  font-size: 16px;
  line-height: 1;
}

.info-content .title {
  color: rgb(255,100,0);
  font-weight: var(--fw-600);
  font-size: 12px;
  line-height: 1;
}

.contacts-list {
  display: block;
  align-self: center;
  width: 100%;
}

.contact-item {
    display: block;
    max-width: 100%;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    text-wrap: normal;
    padding-bottom: 5px;
}

.contact-title {
  color: rgb(170,170,170);
  font-size: 10px;
  text-transform: uppercase;
  line-height:1;
}

.contact-info :is(.contact-link, address) {
  padding: 0px 0px 13px 0px;
  font-size: 9px;
  font-weight: var(--fw-300);
  line-height: 1;
}

.contact-info :is(.contact-link) {
  color: cornflowerblue;
}

.contact-info :is(address) {
  color: var(--white-2);
  font-style: normal;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0px;
  gap:7px;
}

.social-icon {
  width: 25px;
}

.history h2 {
    --fs-1: 18px;
}

.history-digitalart {
  height: 330px;
  width: auto;
  margin:auto;
  padding-right: 0px;
  padding-bottom: 10px;
}

.history-military {
  height: 150px;
  width: auto;
  float: right;
  padding-left: 10px;
  padding-bottom: 10px;
}

.history-chapter-military {
  padding-top: 20px;
}

.history-college {
  height: 150px;
  width: auto;
  float: left;
  margin: auto;
  padding-right: 10px;
  padding-bottom: 10px;
}

.history-indie {
  height: 160px;
  width: auto;
  margin: auto;
  padding-left: 0px;
  padding-bottom: 10px;
}

.history-haptx video {
  float: left;
  height: auto;
  width: 400px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.history-chapter {
  display: block;
  float: none;
  min-height: stretch;
}

/*-----------------------------------*\
  #NAVBAR
\*-----------------------------------*/

.nav-owner {
    justify-content: center;
    display: flex;
}

.navbar {
  position: fixed;
  top: 0;
  width: 90%;
  background: hsla(50, 100%, 15%, 0.75);
  backdrop-filter: blur(15px);
  border: 1px solid hsla(50, 100%, 50%,1);
  border-radius: 0 0 4px 4px;
  border-top-width:0;
  z-index: 5;
  transition: var(--transition-1);
  fade 0.5s ease backwards;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(15% / sin(1) - 30px);
}

.navbar-link {
  color: rgb(0,200,200);
  font-size: 16px;
  font-weight: var(--fw-600);
  padding: 2px 0px;
  transition: color var(--transition-1);
}

.navbar-link:hover,
.navbar-link:focus { color: rgb(150,255,255); }

.navbar-link.active { color: var(--orange-yellow-crayola) }
.navbar-link.active:hover { color: rgb(255,255,150); }

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about-text {
  color: rgb(255,255,255);
  font-size: 12px;
  font-weight: var(--fw-300);
  line-height: 1.25;
  margin-bottom:5px;
}

/**
 * #service 
 */

.service { padding-bottom: 5px; }

.service-list {
  display: grid;
  grid-template-columns: 1fr;
}

.service-item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--border-gradient-onyx);
  padding: 5px;
  border-radius: 14px;
  transition: var(--transition-1);
  z-index: 1;
}

.service-icon-box img{
  width: 15px;
}

.service-icon-box {
  padding: 3px 3px 3px 4px;
  align-self: center;
  jusift-self: center;
}

.service-content-box {
  text-align: left;
}

.service-item::before {
  content: "";
  position: absolute;
  inset: 4px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  transition: var(--transition-1);
  z-index: -1;
}

.service-item-text {
  color:white;
  font-size: 10px;
  font-weight: var(--fw-300);
  line-height: 1.;
}

.service-item-title {
  font-size: 10px;
  --fs-8: 10px;
  font-weight: var(--fw-600);
  line-height: 0.75;
  padding-top:5px;
}

.service-item:nth-of-type(1) {
    margin-bottom: 2px;
}

.service-item:nth-of-type(2) {
    margin-bottom: 2px;
}

.service-item:nth-of-type(3) {
    margin-bottom: 2px;
}

/**
 * modal
 */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overscroll-behavior: contain;
  z-index: 20;
  pointer-events: none;
  visibility: hidden;
}

.modal-container::-webkit-scrollbar { display: none; }

.modal-container.active {
  pointer-events: all;
  visibility: visible;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsl(250, 60%, 15%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
}

.overlay.active {
  opacity: 0.85;
  visibility: visible;
  pointer-events: all;
}

.portfolio-modal {
    background: var(--eerie-black-2);
    position: relative;
    padding: 15px;
    border: 2px solid rgb(230,200,0);
    border-radius: 5px;
    box-shadow: var(--shadow-5);
    transform: scale(1.2);
    opacity: 0;
    transition: var(--transition-1);
    z-index: 2;
    max-width: 350px;
    width: 90%;
    gap: 35px;
}

.modal-container.active .portfolio-modal {
  transform: scale(1);
  opacity: 1;
}

.modal-close-btn {
  position: absolute;
  top: 3px;
  right: 3px;
  background: rgb(100,100,100);
  border: 3px solid rgb(50,50,50);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(50,50,50);
  font-size: 50px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background: rgb(255,255,255);
    border: 3px solid rgb(0,0,0);
    color: rgb(255,0,0);
    font-size: 50px;
}

.modal-close-btn ion-icon { --ionicon-stroke-width: 50px; }

.modal-title {
    display: flex;
    justify-content: center;
    padding-bottom:15px;
    font-size: 26px;
    color: rgb(255,100,0);
}

.modal-text {
    color: var(--light-gray);
    font-size: var(--f-titles-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
    padding: 10px 0px;
}

.project-text {
    display: none;
}

/*-----------------------------------*\
  #PORTFOLIO
\*-----------------------------------*/

.project-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: 10px;
}

.project-item { display: none; }

.project-item.active {
  display: block;
  animation: scaleUp 0.25s ease forwards;
}

@keyframes scaleUp {
  0% { transform: scale(0.5); }
  100% { transform: scale(1); }
}

.project-item > a { width: 100%; }

.project-detail-img {
    display: none;
}

.project-img {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 15px;
}

.project-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  transition: var(--transition-1);
}

.project-item > a:hover .project-img::before { background: hsla(0, 0%, 0%, 0.5); }

.project-item-icon-box {
  --scale: 0.8;

  background: var(--jet);
  color: var(--orange-yellow-crayola);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
  font-size: 20px;
  padding: 18px;
  border-radius: 12px;
  opacity: 0;
  z-index: 1;
  transition: var(--transition-1);
}

.project-item > a:hover .project-item-icon-box {
  --scale: 1;
  opacity: 1;
}

.project-item-icon-box ion-icon { --ionicon-stroke-width: 50px; }

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-1);
}

.project-item > a:hover img { transform: scale(1.1); }

.project-title,
.project-category { margin-left: 10px; }

.project-title {
  color: var(--white-2);
  font-size: var(--fs-5);
  font-weight: var(--fw-400);
  text-transform: capitalize;
  line-height: 1.3;
}

.project-category {
  color: var(--light-gray-70);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
}

.project-link {
    display: none;
}

/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

    /* Screens larger than 450px---------------------------------------------------------------------------*/
@media (min-width: 450px) {

    /* Sidebar */
    .sidebar, article {
        width: 440px;
        margin-inline: auto;
    }

    .navbar {
        width: 440px;
    }

    /* Sidebar Info */
    .info-content .name {
        font-size: 16px;
    }

    .info-content .title {
        font-size: 12px;
    }

    /* Contact */
    .contact-info :is(.contact-link, address) {
        font-size: 11px;
        padding: 0px 0px 12px 0px;
    }

    .contact-title {
        font-size: 11px;
    }

    /* PORTFOLIO PAGE */
    .project-img {
        height: auto;
    }

    .service-icon-box img {
        width: 20px;
    }

    .service-icon-box {
        padding: 3px 3px 3px 5px;
    }

    .service-item-text {
        font-size: 10px;
    }

    .service-item:nth-of-type(1) {
        margin-bottom: 3px;
    }

    .service-item:nth-of-type(2) {
        margin-bottom: 3px;
    }

    .service-item:nth-of-type(3) {
        margin-bottom: 3px;
    }

    .portfolio-modal {
        width: 400px;
        max-width: unset;
    }
}

/* Screens larger than 580px---------------------------------------------------------------------------*/
@media (min-width: 580px) {

    /* Reused Style */
    .sidebar, article, .navbar {
        width: 565px;
    }

    article {
        transition: var(--transition-1);
    }

    /* Sidebar */
    .info-content .name {
        font-size: 16px;
    }

    .info-content .title {
        font-size: 12px;
    }

    .article-title {
        font-size: 20px;
    }

    /* Contact */
    .contact-info :is(.contact-link, address) {
        font-size: 12px;
        padding: 0px 0px 10px 0px;
    }

    .contact-title {
        font-size: 12px;
    }

    /* Services */
    .service-item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5px;
    }

    .service-icon-box img {
        width: 25px;
    }

    .service-item-title {
        font-size: 14px;
    }

    .service-item:nth-of-type(1) {
        margin-bottom: 2px;
    }

    .service-item:nth-of-type(2) {
        margin-bottom: 2px;
    }

    .service-item:nth-of-type(3) {
        margin-bottom: 2px;
    }

    /* ABOUT PAGE */
    .about-text {
        font-size: 15px;
    }

    .service-item-text {
        font-size: 13px;
    }

    /* PORTFOLIO PAGE */
    .project-img {
        border-radius: 16px;
    }

    .portfolio-modal {
        width: 500px;
    }

    .history-haptx video {
        float: left;
        height: auto;
        width: 300px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .history-college {
        height: 200px;
        width: auto;
        float: left;
        margin: auto;
        padding-right: 10px;
        padding-bottom: 10px;
    }
}

/* Screens larger than 768px---------------------------------------------------------------------------*/
@media (min-width: 768px) {

    /* Reused Style */
    .sidebar, article, .navbar {
        width: 750px;
    }

    .article-title {
        font-size: 21px;
    }

    /* ABOUT PAGE */
    .about-text {
        font-size: 16px;
    }

    .service-icon-box img {
        width: 30px;
    }

    .service-item-text {
        font-size: 18px;
    }

    /* PORTFOLIO PAGE */
    .project-list {
        grid-template-columns: 1fr 1fr;
    }

    /* modal */
    .portfolio-modal {
        gap: 35px;
        width: 650px;
    }

    .history-digitalart {
        float: left;
        height: 200px;
        width: auto;
        padding-right: 10px;
    }

    .history-indie {
        float: left;
        padding-right: 10px;
    }

    .history-chapter-military {
        padding-top: 100px;
    }

    .history-haptx video {
        float: left;
        height: auto;
        width: 375px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .history-college {
        height: 250px;
        width: auto;
        float: left;
        margin: auto;
        padding-right: 10px;
        padding-bottom: 10px;
    }
}

/* Screens wider than 1024px---------------------------------------------------------------------------*/
@media (min-width: 1024px) {

    /* Reused Style */
    .sidebar, article, .navbar {
        width: 1000px;
    }

    main {
        margin-bottom: 5px;
    }

    .main-content {
        position: relative;
        width: max-content;
        margin: auto;
    }

    .nav-owner {
        justify-content: center;
        display: flex;
    }

    /* ABOUT PAGE */
    .about-text {
        font-size:21px;
    }

    .article-title {
        font-size: 23px;
    }

    /* service */
    .service-list {
        grid-template-columns: 1fr 1fr;
        gap: 0px 5px;
    }

    .service-item-text {
        font-size: 12px;
    }

    /* Services Row gap */
    .service-item:nth-of-type(1) {
        margin-bottom: 5px;
    }

    .service-item:nth-of-type(2) {
        margin-bottom: 5px;
    }

    /* PORTFOLIO PAGE */
    .project-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .clients-list {
        height: 220px;
    }

    .clients-item img {
        height: 200px;
    }

    .clients-item video, source {
        width: auto;
        height: 200px;
    }

    .history-digitalart {
        height: 250px;
    }

    .history-chapter-military {
        padding-top: 120px;
    }

    /* PORTFOLIO PAGE */
    .portfolio-modal {
        gap: 35px;
        width: 900px;
    }
}

/* Screens wider than 1250px---------------------------------------------------------------------------*/
@media (min-width: 1250px) {
    /* Resused Style */
    .sidebar, article {
        width: 100%;
    }

    article {
        min-height: 100%;
        padding-top: 10px;
    }

    /* Main */
    main {
        max-width: 1250px;
        margin-inline: auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
    }

    .nav-owner {
        position: absolute;
    }

    .navbar {
        width: 1250px;
    }

    .main-content {
        min-width: 75%;
        width: 75%;
    }

    /* Sidebar */
    .sidebar {
        position: sticky;
        max-height: max-content;
        height: 100%;
        padding-top: 0px;
        margin-right: 10px;
        z-index: 1;
        display: block;
    }

    .sidebar-info {
        margin: auto;
        flex-direction: column;
        width: 80%;
    }
    
    /* Sidebar info */
    .info-avatar img {
        width: 200px;
        margin-top: 10px;
    }

    .info-content .name {
        white-space: nowrap;
        text-align: center;
        font-size: 20px;
    }

    .info-content .title {
        white-space: nowrap;
        text-align: center;
        font-size: 16px;
    }

    /* Contact */
    .contacts-list {
        padding: 0px 0px 0px 45px;
    }

    .contact-title {
        font-size: 14px;
    }

    .contact-info :is(.contact-link, address) {
        font-size: 14px;
    }

    .separator:last-of-type {
        margin: 15px 0;
    }

    /* Social */
    .social-icon {
        width: 35px;
    }

    /* ABOUT PAGE */
    .clients-list {
        margin-bottom: 10px;
        height: auto;
    }

    .clients-item img {
        max-height: 235px;
    }

    .clients-item video, source {
        width: auto;
        height: 300px;
    }

    .service-item-text {
        font-size: 11px;
    }

    /* PORTFOLIO PAGE */
    .portfolio-modal {
        gap: 35px;
        width: 1150px;
    }
}